@media (min-width: 320px) {
  .footer .container img {
    margin: 0px !important;
  }
}

@media (min-width: 375px) {
  .footer .container img {
    margin: 0 30px !important;
  }
}

@media (min-width: 425px) {
  .footer .container img {
    margin: 0 60px !important;
  }
}

@media (min-width: 768px) {
  .footer .container img {
    margin: 0px !important;
  }
}